<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <ul>
      <li>@Model.Description</li>
    </ul>
    <a href="/items/new">Add a new item.</a>
  </body>
</html>